<!DOCTYPE html>
<html>
<body>
<h2>Chatbot</h2>

<div id="chat"></div>

<form id="chatForm">
  <input id="msg" placeholder="Enter option">
  <button>Send</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$("#chatForm").submit(function(e){
  e.preventDefault();
  let msg = $("#msg").val();
  $("#chat").append("<p><b>You:</b> "+msg+"</p>");
  $("#msg").val("");

  $.post("/chat",{message:msg},function(data){
    $("#chat").append("<p><b>Bot:</b> "+data.reply+"</p>");
  });
});
</script>

</body>
</html>
